@mixin quantity($args) {
  @if length($args) == 2 {
    width: nth($args, 1);
    height: nth($args, 2);
  }
  @else {
    width: $args;
    height: $args;
  }
}

@mixin circle($quantity) {
  @include quantity($quantity);
  border-radius: 50%;
}

@mixin rounded-box($size, $corners) {
  @include size($size);
  @include inline-border-radius($corners);
}

@mixin inline-border-radius($args) {
  @if length($args) == 4 {
    $dirs: (top-left, 1),
           (top-right, 2),
           (bottom-right, 3),
           (bottom-left, 4);
    @each $dir, $i in $dirs {
      border-#{$dir}-radius: nth($args, $i);
    }
  }
  @else if length($args) == 2 {
    @include border-top-radius(nth($args, 1));
    @include border-bottom-radius(nth($args, 2));
  }
  @else if length($args) == 1 {
    border-radius: $args;
  }
}

@mixin position($position, $args) {
  @each $dir in top, left, bottom, right {
    $i: index($args, $dir);
    @if $i {
      #{$dir}: nth($args, $i + 1);
    }
  }
  position: $position;
}

@mixin absolute($args) {
  @include position(absolute, $args);
}
@mixin relative($args) {
  @include position(relative, $args);
}
@mixin fixed($args) {
  @include position(fixed, $args);
}

@mixin centered-vertically {
  @include transform(translateY(-50%));
  position: relative;
  top: 50%;
  display: block;
}
